@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: linear-gradient(45deg, #eee 0%, #eee 100%);
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
